/* --------------------------------------------------------------------- */
/* COMMON STYLING
/* --------------------------------------------------------------------- */
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: lighter;
  src: url("../fonts/nanum/NanumBarunGothicLight.eot");
  src: local('Nanum Barun Gothic Light'), local('NanumBarunGothicLight'), url("../fonts/nanum/NanumBarunGothicLight.eot?#iefix") format('embedded-opentype'), url("../fonts/nanum/NanumBarunGothicLight.woff2") format('woff2'), url("../fonts/nanum/NanumBarunGothicLight.woff") format('woff'), url("../fonts/nanum/NanumBarunGothicLight.ttf") format('truetype');
}
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/nanum/NanumBarunGothic.eot");
  src: local('Nanum Barun Gothic'), local('NanumBarunGothic'), url("../fonts/nanum/NanumBarunGothic.eot?#iefix") format('embedded-opentype'), url("../fonts/nanum/NanumBarunGothic.woff2") format('woff2'), url("../fonts/nanum/NanumBarunGothic.woff") format('woff'), url("../fonts/nanum/NanumBarunGothic.ttf") format('truetype');
}
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/nanum/NanumBarunGothicBold.eot");
  src: local('Nanum Barun Gothic Bold'), local('NanumBarunGothicBold'), url("../fonts/nanum/NanumBarunGothicBold.eot?#iefix") format('embedded-opentype'), url("../fonts/nanum/NanumBarunGothicBold.woff2") format('woff2'), url("../fonts/nanum/NanumBarunGothicBold.woff") format('woff'), url("../fonts/nanum/NanumBarunGothicBold.ttf") format('truetype');
}
body {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: normal;
  font-size: 14px;
}
.ba-f12 {
  font-size: 12px;
}
.ba-f14 {
  font-size: 14px;
}
.ba-f16 {
  font-size: 16px;
}
.ba-f18 {
  font-size: 18px;
}
.ba-f20 {
  font-size: 20px;
}
.ba-f22 {
  font-size: 22px;
}
.ba-f24 {
  font-size: 24px;
}
.ba-f26 {
  font-size: 26px;
}
.ba-f28 {
  font-size: 28px;
}
.ba-f30 {
  font-size: 30px;
}
.ba-f32 {
  font-size: 32px;
}
.ba-f34 {
  font-size: 34px;
}
.ba-f36 {
  font-size: 36px;
}
.ba-f38 {
  font-size: 38px;
}
.ba-f40 {
  font-size: 40px;
}
.ba-f42 {
  font-size: 42px;
}
.ba-f44 {
  font-size: 44px;
}
.ba-f46 {
  font-size: 46px;
}
.ba-f48 {
  font-size: 48px;
}
.ba-f50 {
  font-size: 50px;
}
.ba-f52 {
  font-size: 52px;
}
.ba-f54 {
  font-size: 54px;
}
.ba-f56 {
  font-size: 56px;
}
.ba-f58 {
  font-size: 58px;
}
.ba-f60 {
  font-size: 60px;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
a {
  color: #26a69a;
}
a:hover {
  color: #1c7d74;
}
a:focus {
  color: #26a69a;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: normal;
  line-height: 1.42857143;
}
.ba-no-padding {
  padding: 0 !important;
}
.ba-no-margin {
  margin: 0 !important;
}
.page-header.navbar .page-logo .logo-default {
  margin: 12px 0 0 0;
}
.page-bar .page-breadcrumb > li > a,
.page-bar .page-breadcrumb > li > span,
.page-bar .page-breadcrumb > li > i {
  font-size: 34px;
}
.ba-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.primary-font {
  font-family: 'Nanum Gothic', sans-serif !important;
}
.chart,
.pie,
.bars {
  font-family: 'Nanum Gothic', sans-serif !important;
}
.label {
  font-family: 'Nanum Gothic', sans-serif;
}
.table.table-light > thead > tr > th {
  font-family: 'Nanum Gothic', sans-serif;
}
.ba-pb-50 {
  padding-bottom: 50px;
}
.ba-border-top {
  border-top: 1px solid #e1e1e1;
}
.ba-border-bottom {
  border-bottom: 1px solid #e1e1e1;
}
.ba-overflow-ellipsis {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ba-gap {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.ba-bg-white {
  background-color: #fff;
}
.ba-bg-gray {
  background-color: #f5f5f5;
}
.w95 {
  width: 95px !important;
}
.tabbable-custom > .nav-tabs > li > a {
  font-size: 16px;
}
.tabbable-custom > .nav-tabs > li > a,
.tabbable-custom > .nav-tabs > li > a:hover {
  color: #555;
}
.tabbable-custom > .nav-tabs > li.active {
  border-color: #26a69a;
}
.tabbable-custom > .nav-tabs > li.active > a,
.tabbable-custom > .nav-tabs > li.active > a:hover {
  font-weight: bold;
  color: #26a69a;
}
.ba-btn-radio-wrapper .btn.active {
  color: #fff;
  border-color: #26a69a;
  background: #26a69a;
}
.ba-btn-checkbox-wrapper .btn.active {
  color: #fff;
  background: #26a69a;
}
.ba-badge-o {
  color: #26a69a;
}
.ba-badge-x {
  color: #F3565D;
}
table.text-center tr th,
table.text-center tr td {
  text-align: center;
}
.ba-col-wrapper:before,
.ba-col-wrapper:after {
  content: " ";
  clear: both;
  display: table;
}
.ba-col-wrapper .ba-col {
  float: left;
  position: relative;
  min-height: 1px;
}
.ba-col-wrapper .ba-col-left {
  float: left;
  position: relative;
  min-height: 1px;
}
.ba-col-wrapper .ba-col-right {
  float: right;
  position: relative;
  min-height: 1px;
}
.ba-dp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  vertical-align: top;
  border-collapse: collapse;
}
.ba-dp-table-caption {
  display: table-caption;
}
.ba-dp-table-row {
  display: table-row;
}
.ba-dp-table-cell {
  display: table-cell;
  vertical-align: top;
}
.ba-dp-table.align-top .ba-dp-table-cell {
  vertical-align: top;
}
.ba-dp-table.align-middle .ba-dp-table-cell {
  vertical-align: middle;
}
.ba-dp-table.align-bottom .ba-dp-table-cell {
  vertical-align: bottom;
}
.ba-dp-table.no-border .ba-dp-table-cell {
  border: 0 none;
}
.ba-dp-table .ba-dp-table-cell.align-top {
  vertical-align: top;
}
.ba-dp-table .ba-dp-table-cell.align-middle {
  vertical-align: middle;
}
.ba-dp-table .ba-dp-table-cell.align-bottom {
  vertical-align: bottom;
}
.ba-dp-table .ba-dp-table-cell.no-border {
  border: 0 none;
}
.ba-dp-inline-block {
  display: inline-block;
  vertical-align: top;
}
.ba-dp-inline-block.align-top {
  vertical-align: top;
}
.ba-dp-inline-block.align-middle {
  vertical-align: middle;
}
.ba-dp-inline-block.align-bottom {
  vertical-align: bottom;
}
.modal-header:before,
.modal-body:before,
.modal-footer:before,
.modal-header:after,
.modal-body:after,
.modal-footer:after {
  content: " ";
  clear: both;
  display: table;
}
.ba-pagination {
  display: block;
  width: 100%;
  text-align: center;
}
.ba-pagination:before,
.ba-pagination:after {
  content: " ";
  clear: both;
  display: table;
}
.ba-pagination .pagination {
  display: inline-block;
  vertical-align: middle;
}
.ba-pagination .pagination > li > a:focus,
.ba-pagination .pagination > li > span:focus {
  color: #5b9bd1;
  background: #fff;
}
.ba-pagination .pagination .active > a,
.ba-pagination .pagination .active > a:hover {
  color: #fff;
  background: #26a69a;
  border-color: #26a69a;
}
.ba-container-style-1 {
  max-width: 888px;
  margin-left: auto;
  margin-right: auto;
}
.ba-container-style-1:before,
.ba-container-style-1:after {
  content: " ";
  clear: both;
  display: table;
}
[class*="ba-block-style-"]:before,
[class*="ba-block-style-"]:after {
  content: " ";
  clear: both;
  display: table;
}
@media screen and (max-width: 1919px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (max-width: 1365px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (max-width: 1199px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (max-width: 991px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (max-width: 767px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (max-width: 479px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (max-width: 319px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 320px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 480px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 768px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 992px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 1200px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 1366px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 1920px) {
  .test-responsive {
    color: #fff;
  }
}
/* --------------------------------------------------------------------- */
/* .login
/* --------------------------------------------------------------------- */
.login-page {
  background: #364150;
}
.login {
  padding-top: 100px;
}
.login .logo {
  text-align: center;
  margin-bottom: 80px;
}
.login .form-login-wrapper {
  display: block;
  width: 100%;
}
.login .form-login {
  width: 400px;
  background: #fff;
  padding: 30px;
  margin: 0 auto;
}
.login .form-login .form-header {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  color: #26a69a;
  margin-bottom: 20px;
}
.login .form-login .inputbox {
  display: block;
  width: 100%;
  height: 46px;
  color: #5A5A5A;
  background: #EBF3FF;
  border: 0 none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  padding: 0 10px;
}
.login .form-login .remember-checkbox {
  font-weight: normal;
  color: #474747;
  cursor: pointer;
  margin-bottom: 0;
}
.login .form-login .remember-checkbox input[type="checkbox"] {
  position: relative;
  top: 2px;
  margin-top: 0;
  margin-right: 10px;
}
.login .form-login .btn-login {
  display: block;
  width: 100%;
  height: 46px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  background: #26a69a;
  border: 0 none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  padding: 12px 10px;
}
.login .form-login .btn-login:hover {
  background: #1c7d74;
}
.login .error-message {
  color: #F74949;
}
/* --------------------------------------------------------------------- */
/* .header
/* --------------------------------------------------------------------- */
.header {
  /**/
}
/* --------------------------------------------------------------------- */
/* .footer
/* --------------------------------------------------------------------- */
.footer {
  /**/
}
/* --------------------------------------------------------------------- */
/* .member-user-detail
/* --------------------------------------------------------------------- */
.member-user-detail .form-body-inner {
  position: relative;
}
.member-user-detail .form-body-inner:before {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  right: auto;
  bottom: auto;
  height: 100%;
  width: 1px;
  background: #e1e1e1;
}
@media screen and (max-width: 991px) {
  .member-user-detail .form-body-inner:before {
    display: none;
  }
}
/* --------------------------------------------------------------------- */
/* .member-shop-detail
/* --------------------------------------------------------------------- */
.member-shop-detail .form-body-inner {
  position: relative;
}
.member-shop-detail .form-body-inner:before {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  right: auto;
  bottom: auto;
  height: 100%;
  width: 1px;
  background: #e1e1e1;
}
@media screen and (max-width: 991px) {
  .member-shop-detail .form-body-inner:before {
    display: none;
  }
}
.reviews_result {
  display: inline-block;
  margin-left: 10px;
}
.reviews_result ul.reviews_list {
  margin: 22px 0;
  padding: 0;
  display: inline-block;
}
.reviews_result ul.reviews_list li {
  display: inline-block;
  margin: 0;
}
.reviews_result ul.reviews_list li .star_item {
  width: 19px;
  height: 19px;
}
.reviews_result ul.reviews_list li .star_item img {
  width: 19px;
}
.reviews_result .number_review {
  font-size: 20px;
  color: #888888;
  padding-left: 5px;
  position: relative;
  top: 5px;
  display: inline-block;
}
.list-comment {
  width: 100%;
  padding-top: 20px;
}
.list-comment .item-comment {
  width: 100%;
  border-top: 1px solid #4A7EBB;
  padding: 15px 0;
  display: inline-block;
}
.list-comment .item-comment .member-info {
  margin-bottom: 5px;
}
.list-comment .item-comment .member-info .space {
  padding: 0 7px;
}
.list-comment .item-comment .reviews-result {
  margin: 0 0 5px;
  padding: 0;
}
.list-comment .item-comment .reviews-result li {
  display: inline-block;
  margin: 0;
}
.list-comment .item-comment .reviews-result li .item_reviews {
  width: 14px;
  height: 15px;
}
.list-comment .item-comment .reviews-result li .item_reviews img {
  width: 14px;
}
.list-comment .item-comment .item-question {
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
}
.list-comment .item-comment .item-answer {
  width: 100%;
  padding: 20px 0;
  display: inline-block;
  border-top: 1px dashed #4A7EBB;
}
.list-comment .item-comment .item-answer .avatar {
  width: 5%;
  display: table-cell;
  padding-left: 40px;
}
.list-comment .item-comment .item-answer .avatar img {
  max-width: 35px;
}
.list-comment .item-comment .item-answer .content-anwser {
  width: 70%;
  display: table-cell;
  padding: 0;
  vertical-align: top;
}
.list-comment .last-item {
  border-bottom: 1px solid #4A7EBB;
}

/* .btn-create{ */
/* 	position: absolute; */
/* 	right: 150px; */
/* 	top: 0; */
/* 	padding: 5px 14px; */
/* } */